<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login100-form') do |f| %>
					<span class="login100-form-title p-b-55">
						Logare
					</span>

        <div class="wrap-input100 validate-input m-b-16">
          <%= f.text_field :phone, :class => 'input100', autofocus: true, autocomplete: 'on', placeholder: 'Numărul de telefon' %>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" >
          <%= f.password_field :password, :class => 'input100', autofocus: true, autocomplete: 'off', placeholder: 'Introduceţi parola' %>
          <span class="focus-input100"></span>
        </div>

        <%# if devise_mapping.rememberable? -%>
<!--        <div class="contact100-form-checkbox m-l-4">-->

          <%#= f.label 'Ţine-mă minte!', :class=> 'label-checkbox100' %>
          <%#= f.check_box :remember_me, :class=> 'input-checkbox100'%>
<!--        </div>-->
        <%# end -%>

        <div class="container-login100-form-btn p-t-25">

          <%= f.submit 'Logare', :class => 'login100-form-btn' %>
        </div>

        <div class="text-center w-full p-t-115">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>