<p id="notice"><%= notice %></p>
<div class="card" style="margin-top: 10px">
  <div class="card-body">


    <div style="overflow-x:auto;">
      <table class="table table-striped table-bordered table-hover" style="text-align: center;">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titlu</th>
          <th scope="col">Album</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <% @images.each do |image| %>
          <tr>
            <td scope="row"><%= image.id %></td>
            <td style="font-weight: bold; text-wrap: normal"><%= image.title %></td>
            <td style="font-weight: bold; text-wrap: normal"><%= image.gallery_id %></td>
            <!--            <td><%#= link_to ' Descarcă', song.audio, download: '', :class => 'fa fa-download'%></td>-->
            <!--            <td><%#= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            <td><%= image_tag(image.src, alt:image.title, :class=> 'img-thumbnail img-responsive', style: 'max-height:144px; max-width:256px; height:100%;width:100%;') %></td>
            <td><%= link_to 'Şterge', image, method: :delete, data: {confirm: 'Eşti sigur că vrei să ştergi imaginea?'}, class: 'btn btn-danger my-2 my-sm-0', role: 'button' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>